@model IEnumerable<ProyectoPAD.Models.order_items>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/vistaSesion.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.list_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.products.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orders.order_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.list_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.products.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orders.order_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
